body {
    margin: auto;
}

#events {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, auto));
}

.singleEvent {
    margin: 0px 0px 0px auto;
    display: grid;
    grid-template-rows: auto 70px;
}

.imgPlace {
    border: black solid 1pt;
    height: 155px;
    width: 220px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.textInfo {
    display: inline;
    position: relative;
}

.title,
.date,
.genre, .cat {
    position: absolute;
    margin: 0 0;
    padding: 0;
    width: 80%;
    font-size: 10pt;
    text-transform: capitalize;
}

.title {
    top: 15px;
    width: auto;
}

.date {
    right: 0;
    top: 0;
    width: auto;
}
.cat{
    width: auto;
    text-transform: capitalize;
    margin-left: 70px;
}
.pagePlus {
    background-color: aqua;
    width: 50px;
    height: 50px;
    margin: 5px 0% 0 50%;
    border-radius: 50%;
}

/*BURGER*/

#bar1,
#bar2,
#bar3, #bar4, #bar5 {
    width: 32px;
    height: 4px;
    background-color: #333;
    margin: 5px 0;
}
#bar2{
    width: 45px;
}
#bar4, #bar5{
    width: 13px;
    position: absolute;
    transform: rotate(45deg);
    right: -2px;
    top: 5px;
}
#bar5{
    transform: rotate(-45deg);
    top: 12.5px
}
.slideMenu{
    width: 50vw;
    height: 100vh;
    position: absolute;
    z-index: 10;
    background-color: azure;
    transition: width 0.5s;
}

.burgerMenu {
    cursor: pointer;
    top: 8px;
    left: 10px;
    position: absolute;
}
.dontDisplay{
    display: none;
}
/*.slideAnimation{
    animation: slide 0.3s forwards;
}
@keyframes slide{
}*/
